h1, h2, h3, h4 {
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.container {
  margin: 0 auto;
  text-align: left;
  width: 980px;
}

#content {
  margin: 0 auto;
  min-height: 450px;
  overflow: auto;
  padding-bottom: 2px;
  width: 980px;
}

a {
  color: #BB7020;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

.vt {
  vertical-align: top;
}

.fr {
  float: right;
}

.cbt {
  clear: both;
}

#mainbar, .mainbar {
  float: left;
  margin: 0 10px 20px 0;
  width: 738px;
}

#sidebar, .sidebar {
  float: right;
  margin: 0 0 60px;
  overflow: hidden;
  padding-top: 10px;
  width: 220px !important;
}


.subheader {
  border-bottom: 1px solid #999999;
  clear: both;
  height: 34px;
  margin-bottom: 0;
  overflow-y: hidden;
}

.subheader h1 {
  color: #222222;
  font-size: 18px;
  font-weight: bold;
  line-height: 21px;
  margin: 5px 0;
  float: left;
}

.subheader h2 {
    color: #222222 !important;
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 0 10px;
}
.subheader h2 {
    float: left;
    line-height: 34px;
}

.subheader #tabs {
  float: right;    
  margin: 2px 5px;
}

.subheader #tabs a {
  color: #777777;
  font-size: 12px;
  line-height: 22px;
  margin: 3px 0 0 10px;
}

.subheader #tabs a.active {
  color: #000;
}

#qlist-wrapper {
  clear: both;
  display: inline-block;
  margin-bottom: 10px;
}
  
.question-summary:first-child {
  border-top: medium none;
}

.question-summary {
  border-bottom: 1px solid #EDEDED;
  border-top: 1px solid #FFFFFF;
  float: left;
  overflow: hidden;
  padding: 13px 0 11px;
  width: 738px;
}

.narrow .votes {
  padding: 6px 5px;
}
.narrow .votes {
  float: left;
  height: 38px;
  margin: 0 3px 0 0;
  width: 38px;
}

.votes {
  color: #777777;
  padding: 0 0 7px;
  text-align: center;
}

.mini-counts {
  font-family: Arial,sans-serif !important;
  font-size: 20px;
  line-height: 19px;
  padding: 0 0 4px;
  text-shadow: 1px 1px 0 #FFFFFF;
}

.narrow .status {
  padding: 6px 5px;
  text-shadow: 1px 1px 0 #DDF3CF;
}

.narrow .status {
  float: left;
  height: 38px;
  margin: 0 3px 0 0;
  width: 50px;
}

.answered-accepted {
  background: -moz-linear-gradient(center top , #E3F5AB 0%, #E3F5AB 14%, #BEE08E 100%) repeat scroll 0 0 transparent;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e3f5ab), color-stop(14%, #e3f5ab), color-stop(100%, #bee08e));
  border-bottom: 1px solid #FFFFFF;
  border-top: 1px solid #E3E3E3;
  color: #478875;
}

.answered {
  color: #478875;
}

.status {
  margin-top: -3px;
  padding: 4px 0;
  text-align: center;
}

.narrow .views {
  padding: 6px 5px;
}
.narrow .views {
  float: left;
  height: 38px;
  margin: 0 7px 0 0;
  width: 40px;
}
.views {
  color: #777777;
  padding-top: 4px;
  text-align: center;
}

.narrow .summary {
  width: 550px;
}

.summary {
  float: left;
  width: 630px;
}

.summary h3 {
  font-size: 15px;
  line-height: 16px;
}

.question-hyperlink {
  color: #222222;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 #FFFFFF;
}

.question-hyperlink:hover {
  border-bottom: 1px dotted #666;
  text-decoration: none;
}

.narrow .started {
  line-height: inherit;
  padding-top: 4px;
  white-space: nowrap;
  width: auto;
}
.started {
  color: #666666;
  float: right;
  line-height: 18px;
  width: 185px;
}

.started-link {
  color: #666666;
}

.relativetime {
  text-decoration: none;
  text-shadow: 0 1px 0 #FFFFFF;
}

.tags {
  float: left;
  line-height: 18px;
}

.post-tag {
  color: #444444;
  display: inline-block;
  font-size: 13px;
  height: 14px;
  line-height: 12px;
  margin: 2px 2px 6px 0;
  overflow: visible;
  text-decoration: none;
  white-space: nowrap;
}

.post-tag:after {
  color: #444444;
  content: "]";
  padding-left: 1px;
}

.post-tag:before {
  color: #444444;
  content: "[";
  padding-left: 1px;
}

.sidebar-advertisment {
  height: 250px;
  border: 1px solid #000;
  margin-bottom: 10px;
}

.sidebar-advertisment p {
  padding: 2px;
}

.module {
  color: #444444;
  margin-bottom: 15px;
  padding: 0 0 2px;
}

.module h4 {
  color: #222222;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.4;  
  margin-bottom: 5px;
}

.module ul {
  font-size: 120%;
}
.module ul {
  line-height: 120%;
  list-style-type: square;
  margin-left: 15px;
  margin-right: 30px;
}

.item-multiplier {
  color: #888888;
  font-size: 12px;
  margin-right: 4px;
}

#question-header {
  border-bottom: 1px solid #CCCCCC;
  margin-bottom: 5px;
  width: 980px;
}

#question-header h1 {
  font-size: 18px;
  padding: 10px 0;
}
#question-header h1 {
  color: #444444;
  margin-bottom: 0 !important;
}

#question-header .question-hyperlink {
  color: #222222;
  font-size: 22px;
  line-height: 26px;
  text-shadow: 1px 1px 0 #FFFFFF;
}

.question {
  clear: both;
  padding: 10px 0 0;
  width: 738px;
}
.votecell {
  vertical-align: top;
  width: 56px;
}

.vote {
  text-align: center;
}

.question .postcell {
  vertical-align: top;
}

td.postcell {
  vertical-align: top;
}

.post-taglist {
  clear: both;
  margin-bottom: 10px;
}

.fw {
  margin-bottom: 4px;
  width: 656px;
}

.owner {
  background-color: #EAEAEA;
}

.post-signature {
  height: 58px;
  padding-left: 5px;
  padding-top: 2px;
  text-align: left;
  vertical-align: top;
  width: 175px;
}

.user-info {
  height: 35px;
  width: 185px;
}

.user-info .user-gravatar32 {
  float: left;
  height: 32px;
  width: 32px;
  border: solid 1px gray;
  margin-bottom: 3px;
}

.user-info .user-action-time {
  margin-bottom: 4px;
  margin-top: 2px;
}

.user-info .user-details {
  float: left;
  margin-left: 5px;
  overflow: hidden;
  white-space: nowrap;
  width: 145px;
}

.user-details {
  color: #888888;
  line-height: 17px;
}

.relativetime {
  text-decoration: none;
  text-shadow: 0 1px 0 #FFFFFF;
}


.vote-up-off, .vote-up-on, .vote-down-off, .vote-down-on, .comment-up-off, .comment-up-on, .comment-flag, .flag-off, .vote-accepted-off, .vote-accepted-on {
  font-size: 1px;
  text-indent: -9999em;
}
.vote-up-off, .vote-up-on, .vote-down-off, .vote-down-on, .star-on, .star-off, .comment-up-off, .comment-up-on, .comment-flag, .flag-off, .vote-accepted-off, .vote-accepted-on {
  font-size: 1px;
  text-indent: -9999em;
}
.vote-up-off, .vote-down-off, .vote-accepted-off, .star-off, .comment-up-off, .flag-off {
  cursor: pointer;
}
.vote-up-off, .vote-up-on, .vote-down-off, .vote-down-on, .star-on, .star-off {
  background-position: -2px -223px;
  display: block;
  height: 43px;
  margin: 0 auto;
  text-indent: -999em;
  width: 40px;
}

.envelope-on, .envelope-off, .vote-up-off, .vote-up-on, .vote-down-off, .vote-down-on, .star-on, .star-off, .comment-up-off, .comment-up-on, .comment-flag, .edited-yes, a.cc-wiki-link, .feed-icon, .vote-accepted-off, .vote-accepted-on, .vote-accepted-bounty, .badge-earned-check, .delete-tag, .grippie, .expander-arrow-hide, .expander-arrow-show, .expander-arrow-small-hide, .expander-arrow-small-show, .anonymous-gravatar, .badge1, .badge2, .badge3 {
  background-image: url("/images/sprites.png");
  background-repeat: no-repeat;
  overflow: hidden;
}

.vote-accepted-off, .vote-accepted-on, .vote-accepted-bounty {
  background-position: -2px -529px;
  display: block;
  height: 43px;
  margin: 0 auto;
  width: 40px;
}

.vote-accepted-on {
  background-position: -2px -436px;
}

.vote-up-on {
  background-position: -2px -178px;
}

.vote-down-off {
  background-position: -2px -268px;
}

.vote-down-on {
  background-position: -2px -313px;
}

.vote span {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 22px;
}
.vote span {
  color: #777777;
  display: block;
}
.vote-count-post {
  color: #444444 !important;
  display: block;
  font-family: Arial,sans-serif !important;
  font-size: 22px !important;
  line-height: 20px;
  padding: 2px 0 9px 2px;
  text-shadow: 1px 1px 0 #FFFFFF;
}

.ask-mainbar {
  width: 738px !important;
}

.ask-sidebar {
  width: 220px !important;
}

.ask-sidebar-info {
  background-color: #4D4B4B;
  border-bottom: medium none;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  color: #FFFFFF;
  font-size: 12px;
  padding: 15px;
  height: 160px;
}

.form-item {
  padding: 5px 0 5px;
}

.form-item label {
  color: #333333;
  font-size: 15px;
  display: block;
  font-weight: bold;
  padding-bottom: 3px;
}

.form-item input[name=tags] {
  width: 640px;
}

.ask-title-cell-key {
  padding: 0 10px 0 0 !important;
  width: 40px;
}

.ask-title-cell-value {
  padding-left: 5px;
}

.ask-title-cell-value input {
  width: 580px;
}

.form-submit {
  display: block;
  padding: 5px 0 5px;
}

.quesiton-edit-hyperlink {
  float: right;
  font-weight: normal;  
}

.github-signup {

  border-bottom: 1px solid #DFDBDB;
  margin-bottom: 20px;
  padding-bottom: 20px;

  /*margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #dfdbdb; */
}


.github-signup  .button {
  background: none repeat scroll 0 0 #00ACED;
  height: 26px;
  line-height: 26px;
  margin: 0;
  padding: 0 10px;
  text-align: center;
  display: block;
  color: #fff;
}

.dialog {
  margin-bottom: 10px;
}

.dialog h2 {
  margin-bottom: 10px;
  padding-bottom: 15px;
  text-align: center;
  font-size: 25px;
}
.grid-small {
  margin: 0 auto;
  width: 320px;
}

.grid-block {
  background: none repeat scroll 0 0 #EFEFEF;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  margin-bottom: 10px;
  padding: 15px;
}

.signin .form-actions {
  background-color:  #EFEFEF;
  padding: 12px 2px 4px;
}

.signin .control-label {
  width: 65px;
}

.signin .controls {
  margin-left: 98px;
}

/*answers*/

.space {
  color: #222222;
  font-size: 18px;
  padding-top: 20px;
  line-height: 10px;
}

#answers {
  clear: both;
  padding-top: 10px;
  width: 738px;
}

#answers-header {
  margin-top: 10px;
  width: 738px;
}

.answer {
  border-bottom: 1px solid #CCCCCC;
  border-top: 1px solid #FFFFFF;
  padding-bottom: 20px;
  padding-top: 20px;
  width: 738px;
}

.answer table td {
  vertical-align: top;
}

td.answercell {
  vertical-align: top;
}

.post-text {
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 5px;
  margin-right: 5px;
  width: 660px;
}
.post-text p {
  word-wrap: break-word;
}

/* User edit */

#mainbar-full, .mainbar-full {
  float: left;
  width: 980px;
}

.user-show-new {
  margin-bottom: 20px;
}

#mainbar-full .subheader, .mainbar-full .subheader {
  margin-bottom: 0;
}

.user-show-new .subheader {
  margin-bottom: 10px;
}

.user-show-new .subheader {
  margin-bottom: 5px !important;
}

h1#user-displayname {
  color: #222222;
  font-size: 22px;
  line-height: 26px;
  text-shadow: 1px 1px 0 #FFFFFF;
}

.subheader h1 {
  color: #222222;
  font-size: 18px;
  font-weight: bold;
  line-height: 21px;
  margin: 5px 0;
}

.subheader a {
  color: #000000;
}

.user-show-new .sub-header-links {
  margin-top: 12px;
}

.user-show-new .sub-header-links .current-section {
  font-weight: bold;
}

.user-show-new .sub-header-links a, .user-show-new .sub-header-links .lsep {
  margin-left: 10px;
}

#mainbar-full h2, .mainbar-full h2 {
  color: #222222;
  font-size: 16px;
  margin: 10px 0;
  text-shadow: 1px 1px 0 #FFFFFF;
}

#user-edit-table td {
  padding: 4px;
}

.newuser {
  background-color: #4D4B4B;
  border-bottom: medium none;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  color: #FFFFFF;
  font-size: 12px;
  padding: 15px;
}

.newsletter-signup h4 {
  margin-bottom: 0.5em;
  padding: 0;
}
.newuser h4 {
  color: #FFFFFF;
}

.newsletter-signup p {
  font-size: 100%;
  margin-bottom: 1em;
}

.newsletter-signup ul {
  font-size: 100%;
  margin: 1em 0 1em 2em;
}

.user-show-new #user-info-container {
  margin-bottom: 10px;
  margin-top: 10px;
}

.user-show-new .user-header .user-about-me {
  float: right;
  height: 225px;
  overflow-y: auto;
  width: 465px;
}

.user-about-me {
  height: 225px;
  overflow: auto;
  padding: 10px;
  width: 380px;
  word-wrap: break-word;
  background-color: #EAEAEA;
  float: right;
  font-size: 13px;
  line-height: 120%;
  margin: 0 0 10px;
}

.user-show-new .user-header .user-header-left {
  float: left;
  margin-right: 30px;
  width: 465px;
}

.user-show-new .user-header .user-header-left .gravatar {
  float: left;
  margin-right: 15px;
}

.user-show-new .user-header .data {
  float: left;
  line-height: 1.3;
  width: 322px;
}

.user-show-new .user-header .data tbody:first-child tr:first-child th, .user-show-new .user-header .data tbody:first-child tr:first-child td {
  padding-top: 0;
}
.user-show-new .user-header .data th, .user-show-new .user-header .data td {
  padding: 3px 20px 3px 0;
  vertical-align: top;
  white-space: nowrap;
}

.user-show-new .user-header .data th {
  color: #A0A0A0;
  font-style: italic;
  font-weight: normal;
}

.user-show-new .user-header .data td:last-child {
    max-width: 145px;
    padding-right: 0;
    white-space: normal;
    width: 100%;
}

#mainbar .well {
  box-shadow: 0px;
}

.no-records {
  color: #777777;
}
#qlist-wrapper .no-records {
  margin-top: 10px;
}