<template name="user_signup">
  <div class="grid-small grid-block dialog signin">
    <h2>Sign Up</h2>
    <div class="github-signup github-auth">
      <a class="github-button button" href="#">Sign In/Sign Up with Github</a>
    </div>
    <div class="regular-signup regular-auth">
      <form class="form-horizontal">
        <div class="control-group">
          <label class="control-label" for="username">Username</label>
          <div class="controls"><input id="username" type="text" value="" placeholder="Enter Username" /></div>
        </div>
        <div class="control-group">
          <label class="control-label" for="email">Email</label>
          <div class="controls"><input id="email" type="text" value="" placeholder="Enter Email" /></div>
        </div>
        <div class="control-group">
          <label class="control-label" for="password">Password</label>
          <div class="controls"><input id="password" type="password" value="" placeholder="Enter password" /></div>
        </div>
        <div class="form-actions">
          <a href="/forgot_password">Forgot password?</a>
          <input type="submit" class="btn" value="Sign Up" />
        </div>
      </form>
    </div>
  </div>
  <p class="grid-small footer-notice">Already have an account? <a href="/signin" id="signin">Sign In</a></p>
</template>